@import '../index.scss';

.todo_list {
    border: 4px solid $themeColorBlue;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    bottom: 40px;
    background-color: $themeColorSomeWhite;
    min-height: 300px;
    min-width: 650px;

}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.todo_item {
    color: $themeColorBlack;
    text-shadow: none;
   
    .delete {
        color: $themeColorGreen;
        cursor: pointer;
        text-align: center;

    }

    input[type=checkbox] {
        display: none;
    }
    
    .container {
        padding-left: 20px;
        padding-bottom: 2px;
        height: 100%;
    }
    
    .container::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: $themeColorWhite;
        vertical-align: middle;
        margin: auto 20px;
        border: 2px solid $themeColorDark;
        border-radius: 3px;
    
    }

    input:checked + label::before {
        content: '\2714';
        text-align: center;
        line-height: 14px;
    }
  
    input:checked + label + span {
        text-decoration: line-through;
        background-color: blue;

    }
}


input[type=checkbox] {
    display: none;
}