// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// colors
$themeColorWhite: white;
$themeColorSomeWhite: #ddd6d6;
$themeColorGray: #769ec5;
$themeColorDark: #33373B;
$themeColorBlack: black;
$themeColorBlue: rgb(0, 32, 109);
$themeColorGreen: rgb(14, 116, 77);

